@import "variables";
.carousel-item {
  height: 100vh;
}

.page1,
.page2,
.page3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  scroll-behavior: smooth;
  position: relative;
}
.page1 {
  background-image: url("../assets/Group-682.png");
}
.page2 {
  background-image: url("../assets/Desktop\ -\ 2.png");
}
.page3 {
  background-image: url("../assets/Desktop-3h.png");
}
.pag,
.pag1,
.pag2 {
  width: 50%;
  margin-top: 10rem;
  padding: 0 20px;
  .container {
    h1 {
      font-size: $lineB;
      font-weight: 700;
      line-height: $lineB;
    }
    .line {
      display: flex;
      align-items: center;
      gap: 10px;
      p {
        font-size: $linesV;
        font-weight: 700;
        line-height: $linesH;
        color: $primary-color;
      }
    }
    .imgs {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .lastf {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dpercent {
        h2 {
          font-weight: 700;
          font-size: $lineB;
        }
        span {
          font-size: $lineW;
          font-weight: 700;
        }
      }
      .ellisple {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .image-overlay-container {
          position: relative;
          display: flex;
        }

        .image-wrapper {
          position: relative;
          margin-left: -10px; /* Adjust this value as needed to control the overlap */
        }

        .image-wrapper img {
          display: block;
        }
      }
      .review {
        p,
        h4 {
          font-weight: 700;
        }
        p {
          font-size: $lineW;
        }
      }
    }
  }
  @media (max-width: 998px) {
    width: 100%;
    color: $primary-color;
    .imgs {
      justify-content: center;
      margin: 0;
      .arr {
        display: none;
      }
    }
    .lastf {
      .review {
        p,
        h4 {
          color: $primary-color;
        }
      }
    }
  }
}

.pag1 {
  margin-left: 50%;
  //   .imgs {
  //     margin-left: 25%;
  //   }
  @media screen and (max-width: 998px) {
    margin-left: 0;
    .imgs {
      margin-left: 0;
    }
  }
}

.pag,
.pag2 {
  //   .imgs {
  //     margin-left: 25%;
  //   }
  .lastf {
    flex-direction: row-reverse;
  }
  @media screen and (max-width: 998px) {
    margin-right: 0;
    .imgs {
      margin-right: 0;
    }
  }
}

  
  .vector-overlay {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 100%;
    height: 100%;
    pointer-events: none; // Ensure the overlay doesn't interfere with other elements
    display: flex;
    z-index: 1; 
    overflow: hidden;
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
    @media (max-width: 998px) {
        display: none;
    }
  }
  
  .vector-overlay img {
    position: absolute;
    top: -50%; /* Start position for the animation */
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 100%;
    animation: vanishDrop 10s ease-in-out forwards;
  }

  @keyframes vanishDrop {
    0% {
      top: -50%;
      opacity: 0;
    }
    50% {
      top: 0%;
      opacity: 1;
    }
    100% {
      top: 0%;
      opacity: 1;
    }
  }
  
