// Import variables for consistent styling
@import "variables";

// Carousel item styling
.carousel-item {
  height: 100vh; // Make each carousel item full height of the viewport
}

// Page styling for different pages with background images
.page1,
.page2,
.page3 {
  background-position: center; // Center the background image
  background-repeat: no-repeat; // Prevent the background image from repeating
  background-size: cover; // Cover the entire container with the background image
  background-attachment: fixed; // Keep background image fixed during scroll
  width: 100%; // Full width of the viewport
  height: 100vh; // Full height of the viewport
  padding-top: 100px; // Add padding at the top
  scroll-behavior: smooth; // Smooth scroll behavior
  position: relative; // Position relative for positioning child elements
}

// Page-specific background images
.page1 {
  background-image: url(https://res.cloudinary.com/ddvo842wg/image/upload/v1721810863/Others/l3kw1qyuk1bw2qoni2an.png); // Set background image for Page 1
}
.page2 {
  background-image: url(https://res.cloudinary.com/ddvo842wg/image/upload/v1721810897/Others/kdnybwk2qjjbl2zhh5s3.png); // Set background image for Page 2
}
.page3 {
  background-image: url(https://res.cloudinary.com/ddvo842wg/image/upload/v1721811237/Others/w56ysyozl2wswdpzxh0n.png); // Set background image for Page 3
}

// Common styling for page sections
.pag,
.pag1,
.pag2 {
  width: 50%; // Set width to 50% of the container
  margin-top: 10rem; // Add top margin
  padding: 0 20px; // Add horizontal padding

  // Container-specific styles
  .container {
    // Heading styling
    h1 {
      margin-top: $lineR; // Margin-top based on variable
      font-size: $lineB; // Font size based on variable
      font-weight: 700; // Bold font weight
      line-height: $lineB; // Line height based on variable
    }

    // Line section styling
    .line {
      margin-top: $lineR; // Margin-top based on variable
      display: flex; // Use flexbox for layout
      align-items: center; // Align items center vertically
      gap: 10px; // Gap between items

      p {
        font-size: $linesV; // Font size based on variable
        font-weight: 700; // Bold font weight
        line-height: $linesH; // Line height based on variable
        color: $primary-color; // Text color based on variable
      }
    }

    // Image section styling
    .imgs {
      margin-top: $lineR; // Margin-top based on variable
      display: flex; // Use flexbox for layout
      justify-content: space-between; // Space items evenly
      align-items: center; // Align items center vertically
    }

    // Last section styling
    .lastf {
      margin-top: $lineR; // Margin-top based on variable
      display: flex; // Use flexbox for layout
      justify-content: space-between; // Space items evenly
      align-items: center; // Align items center vertically

      // Discount percentage section styling
      .dpercent {
        margin-top: $lineR; // Margin-top based on variable

        h2 {
          font-weight: 700; // Bold font weight
          font-size: $lineB; // Font size based on variable
        }

        span {
          font-size: $lineW; // Font size based on variable
          font-weight: 700; // Bold font weight
        }
      }

      // Customer images and review section styling
      .ellisple {
        margin-top: $lineR; // Margin-top based on variable
        display: flex; // Use flexbox for layout
        flex-direction: row; // Arrange items in a row
        gap: 10px; // Gap between items

        .image-overlay-container {
          position: relative; // Position relative for child positioning
          display: flex; // Use flexbox for layout
        }

        .image-wrapper {
          position: relative; // Position relative for image overlap
          margin-left: -10px; // Adjust margin for image overlap
        }

        .image-wrapper img {
          display: block; // Ensure image displays as a block
        }
      }

      // Review section styling
      .review {
        p,
        h4 {
          font-weight: 700; // Bold font weight
        }

        p {
          font-size: $lineW; // Font size based on variable
        }
      }
    }
  }

  // Responsive design for screens smaller than 998px
  @media (max-width: 998px) {
    width: 100%; // Full width of the container
    color: $primary-color; // Text color based on variable
    .line {
      img {
        display: none;
      }
      p {
        text-align: center;
      }
    }

    .imgs {
      justify-content: center; // Center items horizontally
      margin: 0; // Remove margins
      flex-direction: column;
      gap: 10px;

      .arr {
        display: none; // Hide the arrow icon
      }
    }

    .lastf {
      flex-direction: column;
      gap: 10px;
      .review {
        p,
        h4 {
          color: $primary-color; // Set color to primary color
        }
      }
    }
  }
}

// Additional styling for specific pages
.pag1 {
  margin-left: 50%; // Adjust left margin

  @media screen and (max-width: 998px) {
    margin-left: 0; // Remove left margin on smaller screens

    .imgs {
      margin-left: 0; // Remove left margin for images
    }
  }
}

.pag,
.pag2 {
  .lastf {
    flex-direction: row-reverse; // Reverse the order of flex items
  }

  @media screen and (max-width: 998px) {
    margin-right: 0; // Remove right margin on smaller screens

    .imgs {
      margin-right: 0; // Remove right margin for images
    }
    .lastf {
      flex-direction: column;
    }
  }
}

// Vector overlay styling
.vector-overlay {
  position: absolute; // Absolute positioning
  left: 10%; // Offset from the left
  top: clamp(30%, 3vw, 55%); // Vertical position with responsive clamp
  width: 100%; // Full width of the container
  height: 100%; // Full height of the container
  pointer-events: none; // Ensure the overlay doesn't interfere with other elements
  display: flex; // Use flexbox for layout
  z-index: 1; // Set stacking order
  overflow: hidden; // Hide overflowing content
  justify-content: center; // Center horizontally
  align-items: center; // Center vertically

  img {
    position: absolute; // Absolute positioning
    top: -50%; // Initial top position for animation
    left: 50%; // Center horizontally
    transform: translateX(-50%); // Center the image
    max-width: 100%; // Limit image width
    max-height: 100%; // Limit image height
    animation: vanishDrop 2s ease-in-out forwards; // Apply animation
  }

  @media (max-width: 998px) {
    display: none; // Hide vector overlay on smaller screens
  }
}

// Keyframes for vanish drop animation
@keyframes vanishDrop {
  0% {
    top: -50%; // Start position
    opacity: 0; // Start invisible
  }
  50% {
    top: 0%; // Mid position
    opacity: 1; // Fully visible
  }
  100% {
    top: 0%; // End position
    opacity: 1; // Fully visible
  }
}
