body {
    background-image: url("./assets/Desktop-2k.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    font-family: 'Times New Roman', Times, serif;
}